<style>
    .mindmap_node_info
    {
        display:inline-block;
        position:absolute;
        color:white;
        background-color: #49a9ff;
    }
    .mindmap_node_info > .nav
    {
      width: 100%;
    }
    .mindmap_node_info > .description
    {
      width: 100%;
      text-align: center;
    }
    .mindmap_node_info > .assigned
    {
      position: absolute;
      bottom: 3px;
      right: 5px;
    }

    .mindmap_node_menu
    {
        display:inline-block;
        position:absolute;
        color:white;
        background-color: black;
        transition: opacity 0.2s;
        opacity:0;
    }
    .mindmap_node_menu.over
    {
        opacity:0.7;
    }
    .mindmap_node_menu > .left
    {
        float: left;
        margin-left: 5px;
        margin-top: 5px;
    }
    .mindmap_node_menu > .right
    {
        float: right;
        margin-right: 5px;
        margin-top: 10px;
    }

    .mindmap_node_edit
    {
        display: inline-block;
        position: absolute;
        color: white;
        background-color: #49a9ff;
        visibility: hidden;
    }

    .mindmap_label
    {
        display:inline-block;
        margin-left:2px;
        margin-top:2px;
        width:20px;
        height:7px;
        border-radius:2px;
    }
</style>

<script>
    var body        = d3.select("body");
    var controller  = body.select("div[ng-controller='MindmapCtrl']");
    var canvas      = controller.select("svg");

    var node_info_div_map = new Object();
    var node_menu_div_map = new Object();
    var node_edit_div_map = new Object();

    var node_link_map = new Object();

    var center_x    = screen.width  / 2;
    var center_y    = screen.height / 2 - 40;

    for(var i = 0; i < nodes.length; ++i)
    {
        var node = nodes[i];
        var scene_graph_node = scene_graph_node_map[node.idx];

        var node_info_div = controller.append('div');
        var node_menu_div = controller.append('div');
        var node_edit_div = controller.append('div');

        node_info_div_map[node.idx] = node_info_div;
        node_menu_div_map[node.idx] = node_menu_div;
        node_edit_div_map[node.idx] = node_edit_div;

        node_info_div.attr("class", "mindmap_node_info")
                .style("left", center_x - node_scene_graph_form.half_width  + scene_graph_node.x + "px")
                .style("top",  center_y - node_scene_graph_form.half_height + scene_graph_node.y + "px")
                .style("width", node_scene_graph_form.width + "px")
                .style("height", node_scene_graph_form.height + "px")
                .style("border-radius", node_scene_graph_form.height / 10 + "px")

        var node_div_label_container = node_info_div.append('ul').attr("class", "nav navbar-nav");

        for(var j = 0; j < node.labels.length; ++j)
        {
            var label = node.labels[j];

            node_div_label_container.append('li')
                    .attr("class", "mindmap_label")
                    .style("background-color", label_palette[label].color);
        }

        node_info_div.append('div').attr("class", "description")
                .text(node.name);

        var node_div_assigned_container = node_info_div.append('div')
                .attr("class", "assigned");

        for(var j = 0; j < node.assigned_users.length; ++j)
        {
            var label = node.assigned_users[j];

            node_div_assigned_container.append('img')
                    .attr('ng-src', 'img/a1.jpg')
                    .attr('width', "10px")
                    .attr("height", "10px")
        }




        node_menu_div.attr("class", "mindmap_node_menu")
                .style("left", center_x - node_scene_graph_form.half_width  + scene_graph_node.x + "px")
                .style("top",  center_y - node_scene_graph_form.half_height + scene_graph_node.y + "px")
                .style("width", node_scene_graph_form.width + "px")
                .style("height", node_scene_graph_form.height + "px")
                .style("border-radius", node_scene_graph_form.height / 10 + "px")
                /*
                .on("mouseover", function(){d3.select(this).style("visibility", "visible");})
                .on("mouseout", function(){d3.select(this).style("visibility", "hidden");})
                */
                .on("mouseover", function(){d3.select(this).classed("over", true);})
                .on("mouseout", function(){d3.select(this).classed("over", false);})


        var node_menu_side_div = node_menu_div.append('div').attr("class", "left");

        node_menu_side_div.append('div').append('i').attr("class", "fa fa-lg fa-plus-square")
        node_menu_side_div.append('div').append('i').attr("class", "fa fa-lg fa-trash-o")

        node_menu_div.append('div')
                .attr("class", "right")
                .append('i')
                .attr("class", "fa fa-2x fa-file-text");

        node_edit_div.attr("class", "mindmap_node_edit")
                .style("left", center_x - node_scene_graph_form.half_width * 3  + scene_graph_node.x + "px")
                .style("top",  center_y - node_scene_graph_form.half_height * 3 + scene_graph_node.y + "px")
                .style("width", node_scene_graph_form.width * 3 + "px")
                .style("height", node_scene_graph_form.height * 3 + "px")
                .style("border-radius", node_scene_graph_form.height * 3 / 10 + "px")

    }

    for(var i = 0; i < scene_graph_node_link.length; ++i)
    {
        var link = scene_graph_node_link[i];
        var canvas_absolute_y = 50;

        var diagonal = d3.svg.diagonal()
                .source({x:link.src_y + center_y - canvas_absolute_y, y:link.src_x + center_x})
                .target({x:link.dst_y + center_y - canvas_absolute_y, y:link.dst_x + center_x})
                .projection(function(d) { return [d.y, d.x]; });

        //node_link_map[]

        canvas.append("path")
                .attr("class", link)
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("d", diagonal);
    }

</script>

<div ng-controller="MindmapCtrl">
    <svg width="100%" height="6000"></svg>

    <div ng-repeat="node in nodes" class="mindmap_node_info" style="width:100px; height:50px; left:100px; top:300px; border-radius:5px;">
        <div>
            <ul class="nav navbar-nav">
                <li ng-repeat="label in node.labels" class="mindmap_label" style="background-color:{{label_palette[label].color}}"></li>
            </ul>
        </div>
        <div align="center">{{node.name}}</div>
        <div style="float:right; margin-right:5px">
            <img ng-repeat="user in node.assigned_users" ng-src="img/a1.jpg" width="10px" height="10px">
        </div>
    </div>

    <div ng-repeat="node in nodes" class="mindmap_node_menu" style="width:100px; height:50px; left:100px; top:400px; border-radius:5px; opacity:1">
        <div style="float:left">
            <div>
                <i class="fa fa-lg fa-plus-square"></i>
            </div>
            <div>
                <i class="fa fa-lg fa-trash-o"></i>
            </div>
        </div>
        <div style="float:right">
            <i class="fa fa-2x fa-file-text"></i>
        </div>
    </div>
</div>
