
<div class="wrapper-md" ng-controller="RootListCtrl">
    <div ui-scroll-viewport class="row" style="height:400px;overflow-y: auto;">
        <div ng-repeat="root in roots track by $index" class="col-sm-3">
            <div class="panel wrapper bg-pl-card" ng-click="selectRoot('{{root.node}}', '{{$index}}')">
                <div class="text-xlg font-bold m-t-n-sm ">{{ getRootName($index) }}</div>
                <div class="text-md font-bold m-b-smm m-r-xs" align="right">{{getDueDate($index)}}</div>
                <div align="right">
                    <span class="panel wrapper-xs-pl bg-pl-pic">
                        <span ng-repeat="user in root.user">
                            <span class="m-l-xxs"></span>
                            <span class="thumb-xxxs avatar-pl">
                                <img ng-src="{{user.profile_url}}"/>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-click="open()" >
            <div class=" panel wrapper-md dropdown">
                <a data-toggle="modal" href="#myModal" >
                    <H1 align="center"> + </H1>
                </a>
            </div>
        </div>
    </div>
</div>
