
<div class="wrapper-md" ng-controller="RootListCtrl">

    <button ng-click="updateNode()"></button>

    <div ui-scroll-viewport class="row" style="height:400px;overflow-y: auto;">
        <div ng-repeat="root in roots track by $index" class="col-sm-3">
            <div class="panel wrapper-md" ng-click="selectRoot('{{root.node.node_idx}}', '{{$index}}')">
                <div>{{ root.node.name }}</div>
                <div align="right">{{ root.node.due_date }}</div>
                <div align="right">
                    <span ng-repeat="user in root.user">
                        <img ng-src="{{user.profile_url}}" width="30px" height="30px" display="inline"/>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class=" panel wrapper-md dropdown">
                <a ng-click="open()" data-toggle="modal" href="#myModal" >
                    <H1 align="center"> + </H1>
                </a>
            </div>
        </div>
    </div>
</div>
