<style>
	#list ul {
		overflow-y : hidden ;
	}
	#list li {
		display: inline;
		list-style:none;
		margin-top: 20px;
		margin-right: 5px;
	}
	#list li:nth-child(2) {
		margin-left: 7px;
	}
	#list li:nth-child(2) .w-xs {
		width: 110px; 
	}
	#list li:nth-child(3) .w-xs {
		width: 110px; 
	}
	#list li:last-child {
		top: -20px;
	    left: 560px;
	    position: absolute;
	}
	.node_title {
		font-size: 24px;
		font-weight: bold;
		max-width: 100px;
		overflow-x : hidden;
	}
	.list_part li {
		list-style: none;
		display: inline;
	}
	.list-part li:last-child  span{
		color : #FFF;
	}
	.list_part li:last-child i{
		color : rgba(19, 86, 69, 0.34);
	}
	.list_part li span {
		text-align : center;
	}
	.list_labels li{
		width: 80px;
		height : 30px;
		list-style: none;
		border-radius: 5px;
		line-height: 30px;
		text-align: center;
		margin-right : 10px;
		display:inline-block;
		margin-bottom: 10px;
	}
</style>

<div class="view_top"style="padding-left : 15px;">
	<div  class="m-b-lg">
	<ul id="list" class="m-t m-l-xs m-b-n" style="padding-left:5px; padding-top : 10px;">
		<li class="node_title">{{ modalNode.name }}</li>
		<li ng-controller="DatepickekCtrl">
			<button class="btn m-b-xs w-xs btn-default btn-rounded" datepicker-popup="{{format}}" ng-model="dt"
					is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
					ng-click="open($event)">
				<i class="fa fa-calendar-o text m-l-xxs"></i>
				<span class="text margin-left">{{ modalNode.due_date }}</span>
			</button>
		</li>
		<li ng-controller="DropdownCtrl" class="dropdown" o dropdown>
			<a href class="dropdown-toggle" dropdown-toggle>
			<button class="btn m-b-xs w-xs btn-default btn-rounded">
				<i class="fa fa-chain-broken text"></i>
				<span class="text m-l-xsm">Add Node</span>
				<i class="fa fa-check text-active"></i>
			</button>
			</a>
			<div class="dropdown-menu m-t-s w" >
				<div class="wrapper-xs">
					<span ng-click="toggleDropdown($event)">
						<div class="font-bold text-md m-t-n-xs m-l-xs">Name</div>
						<hr class="m-b-sm m-t-sm hr-color">
						<input class="form-control m-t-s" type="text" ng-model="newNode_name" />
					</span>
					<button class="btn btn-dark pull-right m-t-s m-r-xxs m-b-xxs" ng-click="toggleDropdown($event, true); addNodeInModal();"> Add new node </button>
				</div>
			</div>
		</li>
		<li ng-click="cancel()">
			<span class="fa-stack fa-2x">
				<i class="fa icon-close fa-stack-1.7x"></i>
			</span>
		</li>
	</ul>
	</div>
</div>

<hr class="m-b-sm m-t-sm hr-color">

<div class="view_participants pos-rlt padder-l m-b-sm">
	<span ng-repeat="user in modalNode.assigned_users">
		<span class="thumb-sm avatar m-r-xs">
			<img src="../img/a10.jpg">
		</span>
	</span>
	<span class="thumb-md avatar">
		<span class="panel-circle wrapper-xs-circle m-r-xs" ng-click="addParticipantInModal()">+</span>
	</span>
</div>

<hr class="m-b-sm m-t-sm hr-color">

<div class=" view_labels pos-rlt padder-l m-b-md m-t-md">
	<span class="list_labels" ng-repeat="label in modalNode.labels track by $index" style="padding-left: 0;">
		<span class="panel wrapper-xxxs m-r-xs" style="background-color: {{labelPalette[label].color}}" >{{ labelPalette[label].name }}</span>
	</span>
	<div class="dropdown inline"  ng-controller="DropdownCtrl" o dropdown>
	<a href class="dropdown-toggle" dropdown-toggle>
		<span class="panel wrapper-xs-pls" >+</span>
	</a>
	<div class="dropdown-menu m-t-sm w-lg" >
		<div class="wrapper-xs">
			<span ng-click="toggleDropdown($event)">
				<div class="font-bold text-md m-t-n-xs m-l-xs">Label Palette</div>
				<hr class="m-b-sm m-t-sm hr-color">
				<div ng-repeat="lp in labelPalette track by $index">
					<div class="panel inline wrapper-xxxs m-l-xxsm m-r-xs m-b-xs w-md" ng-click="hasLabel($index)" style="background-color: {{lp.color}}" > &nbsp;{{ lp.name }}</div>
					<i class="glyphicon glyphicon-pencil icon-pencil" ng-show=!(editPalette[$index])
					   ng-click="editPaletteMode($index)"></i>
					<div class="m-b-xs m-l-xsm" ng-show=editPalette[$index]>
						<input type="text" class="form-control thumb-xlg" ng-model="newPaletteName">
						<span class="m-l-xs"></span>
						<i class="fa fa-check icon-submit" ng-click="updateLabelPalette($index)"></i>
						<span class="m-l-xs"></span>
						<i class="fa fa-times icon-cancel" ng-click="cancelEditPaletteMode($index)"></i>
					</div>
				</div>
			</span>
		</div>
		</div>
	</div>
	</div>
</div>

<hr class="m-b-sm m-t-sm hr-color">
<div class="view_description pos-rlt m-b-md" style="padding-left : 15px;">
	<h3>Description</h3>
	<textarea  style="padding-left:0" class="form-control no-border" rows="3" placeholder="Description">{{ modalNode.description }}</textarea>
</div>
<hr class="m-b-sm m-t-sm hr-color">
<div class="view_subnodes m-b-xl pos-rlt" style="padding-left : 15px;">
	<h3>Subnodes</h3>
	<div ng-repeat="node in nodes | filter:filterChildNode track by $index" class="fa-ul m-l-sm">
		<span ng-click="clickChildNodeInModal(node)">
			<i class="fa fa-folder-o m-r-xs"></i>
			{{node.name}}
		</span>
	</div>
	<div ng-controller="DropdownCtrl" class="dropdown" o dropdown>
		<a href class="dropdown-toggle" dropdown-toggle>
			<i class="fa fa-plus-square-o m-r-xs"></i>
			Add Node
		</a>
		<div class="dropdown-menu m-t-s w" >
			<div class="wrapper-xs">
					<span ng-click="toggleDropdown($event)">
						<div class="font-bold text-md m-t-n-xs m-l-xs">Name</div>
						<hr class="m-b-sm m-t-sm hr-color">
						<input class="form-control m-t-s" type="text" ng-model="newNode_name" />
					</span>
				<button class="btn btn-dark pull-right m-t-s m-r-xxs m-b-xxs" ng-click="toggleDropdown($event, true); addNodeInModal();"> Add new node </button>
			</div>
		</div>
	</div>
</div>
<hr class="m-b-sm m-t-sm hr-color">
<div class="view_leafs" style="position: relative; padding-left : 15px; margin-bottom : 40px">
	<h3>Leafs</h3>
	<ul class="fa-ul">
		<li><i class="fa-li fa fa-leaf" ng-click="downloadLeafInModal($index)"></i>List icons.jpg</li>
		<li><i class="fa-li fa fa-leaf"></i>can be used.exe</li>
		<li><i class="fa-li fa fa-leaf"></i>as bullets.pdf</li>
		<li><i class="fa-li fa fa-leaf"></i>in lists.iso</li>
		<li><i class="fa-li fa fa-plus-square-o"></i>Add Leaf</li>
	</ul>
</div>

<div class="modal-footer" style="margin-top: 40px">
    <button class="btn btn-primary" ng-click="applyInModal()">Apply</button>
</div>