<div class="modal-left">
    <div class="font-middle" style="padding-left : 15px;">
        <div class="m-b-lg ">
            <ul id="list ul-modal" class="m-t-sm m-l-xs m-b-n-md" style="padding-left:5px; padding-top : 10px;">
                <li class="node_title list-modal">{{ modalNode.name }}</li>
                <li ng-controller="DatepickekCtrl" class="list-modal m-l-xsm">
                    <button class="btn m-b-xs w-xsm btn-default btn-rounded" datepicker-popup="{{format}}"
                            ng-model="dt"
                            is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                            show-button-bar="false" ng-click="open($event)">
                        <i class="fa fa-calendar-o text m-r-xs m-l-n-xxs"></i>
                        <span class="text margin-left">{{ modalNode.due_date }}</span>
                    </button>
                </li>
                <li ng-click="cancel()" class="list-modal close-modal">
			<span class="fa-stack fa-2x">
				<i class="fa icon-close fa-stack-1.7x"></i>
			</span>
                </li>
            </ul>
        </div>
    </div>
    <hr class="m-b-sm m-t-sm hr-color">
    <div class="view_description pos-rlt m-b-md font-middle" style="padding-left : 15px;">
        <h3>Description</h3>
        <textarea style="padding-left:0; max-width: 434px" class="form-control no-border" rows="3" ng-model="newDes"></textarea>
    </div>
    <hr class="m-b-sm m-t-sm hr-color">
    <div class="view_participants pos-rlt padder-l m-b-md font-middle">
        <h3>Participants</h3>
        <span ng-repeat="user in modalNode.assigned_users">
		    <img class="thumb-sm avatar m-r-xs" ng-src={{users[user].profile_url}}>
        </span>
    </div>

    <hr class="m-b-sm m-t-sm hr-color">
    <div class=" view_labels pos-rlt padder-l m-b-md m-t-md font-middle">
        <h3>Labels</h3>
	<span class="list_labels" ng-repeat="label in modalNode.labels track by $index" style="padding-left: 0;">
        <div class="wrapper-xs-l dis-inline">
            <span class="panel wrapper-xxxs m-r-xs font-white" style="background-color: {{labelPalette[label].color}}">&nbsp;&nbsp;{{ labelPalette[label].name }}&nbsp;&nbsp;</span>
        </div>
    </span>
    </div>
    <hr class="m-b-sm m-t-sm hr-color">
    <div class="view_subnodes m-b-xl pos-rlt font-middle" style="padding-left : 15px;">
        <h3>Subnodes</h3>

        <div ng-repeat="node in nodes | filter:filterChildNode track by $index" class="fa-ul m-l-sm">
		<span ng-click="clickChildNodeInModal(node)">
			<i class="fa fa-folder-o m-r-xs"></i>
			{{node.name}}
		</span>
        </div>
    </div>
    <hr class="m-b-sm m-t-sm hr-color">
    <div class="view_leafs m-l-md m-b-sm font-middle" style="position: relative;">
        <h3>Leafs</h3>

        <div class="m-b-xs" ng-repeat="leaf in modalNode.leafs track by $index">
            <span ng-click="downloadLeafInModal(leaf.id)"><i class="fa fa-leaf m-r-xs"></i>{{leaf.name}}</span>
        </div>
    </div>

    <button class="btn btn-primary w-xs modal-apply" ng-click="applyInModal(newDes)">Apply</button>

</div>
<div class="modal-right font-middle" ng-controller="DropdownCtrl">
    <hr class="m-b-sm m-t-sm hr-color">
    <div class="modal-add-menu">
        <div class="head"> Add Other </div>
        <span class="dropdown" dropdown ng-show="isRoot">
        <a href class="dropdown-toggle" dropdown-toggle>
            <button class="btn btn-default">
                <i class="icon-user menu-btn"></i>Member</button>
        </a>
        <div class="dropdown-menu box abs w-lg">
            <div class="wrapper-xs">
				<span ng-click="toggleDropdown($event)">
					<div class="font-bold text-md title">Add Members</div>
					<hr class="m-b-sm m-t-sm hr-color">
                    <div angucomplete-alt id="search_people"
                         placeholder="Search people"
                         pause="300"
                         selected-object="inviteUserInModal"
                         local-data="matchUserList"
                         search-fields="name,email"
                         title-field="name"
                         description-field="email"
                         image-field="profile_url"
                         minlength="1"
                         override-suggestions="true"
                         clear-selected="true"
                         input-changed="inputChanged"
                         input-class="angucomplete-form-control">
                    </div>
                </span>
            </div>
        </div>
    </span>
        <span class="dropdown" dropdown ng-hide="isRoot">
        <a href class="dropdown-toggle" dropdown-toggle>
            <button class="btn btn-default">
                <i class="icon-user menu-btn"></i>Member</button>
        </a>
        <div class="dropdown-menu box w">
            <div class="wrapper-xs">
                <span ng-click="toggleDropdown($event)">
					<div class="font-bold text-md title">Members</div>
					<hr class="m-b-xs m-t-sm hr-color">
                    <div ng-repeat="user in users">
                        <div class="part_lists panel.no-borders wrapper-xxxs bg-pl-pic"
                             ng-click="participatedInNode(user.account_id)" align="left">
                            <img class="thumb-xxs m-t-xxs" ng-src={{user.profile_url}}>
                            <span>{{user.name}}</span>
                            <i ng-show="filterParticipant(user.account_id)" class="fa fa-check m-l-lg"></i>
                        </div>
                    </div>
				</span>
            </div>
        </div>
    </span>
        <span class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            <button class="btn btn-default">
                <i class="icon-tag menu-btn"></i> Label</button>
        </a>
        <div class="dropdown-menu box w-lg">
            <div class="wrapper-xs">
			    <span ng-click="toggleDropdown($event)">
				<div class="font-bold text-md title">Label Palette</div>
				<hr class="m-b-sm m-t-sm hr-color">
				<div ng-repeat="lp in labelPalette track by $index">
                    <div class="panel inline wrapper-xxxs m-l-xxsm m-r-xs m-b-xs w-md icon-white"
                         ng-click="hasLabel(lp.palette_idx)" style="background-color: {{lp.color}}"> &nbsp;{{ lp.name }}
                    </div>
                    <i class="fa fa-check icon-white m-l-n-lg m-rs" ng-show="checkLabel(lp.palette_idx)"></i>
                    <i class="glyphicon glyphicon-pencil icon-pencil" ng-show=!(editPalette[lp.palette_idx])
                       ng-click="editPaletteMode(lp.palette_idx)"></i>
                    <div class="m-b-xs m-l-xsm" ng-show=editPalette[lp.palette_idx]>
                        <input type="text" class="form-control thumb-xlg" ng-model="newPaletteName"
                               ng-keypress="($event.which==13)?updateLabelPalette(lp,newPaletteName):0">
                        <i class="fa fa-check icon-submit m-l-xs" ng-click="updateLabelPalette(lp,newPaletteName)"></i>
                        <i class="fa fa-times icon-cancel m-l-xs" ng-click="cancelEditPaletteMode(lp.palette_idx)"></i>
                    </div>
                </div>
			    </span>
            </div>
        </div>
    </span>
        <span class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            <button class="btn btn-default">
                <i class="fa fa-folder-o menu-btn"></i>Node</button>
        </a>
        <div class="dropdown-menu box w">
            <div class="wrapper-xs">
					<span ng-click="toggleDropdown($event)">
						<div class="font-bold text-md title">Name</div>
						<hr class="m-b-sm m-t-sm hr-color">
						<input class="form-control m-t-s" type="text" ng-model="newName"/>
					</span>
                <button class="btn btn-dark pull-right m-t-s m-r-xxs m-b-xxs"
                        ng-click=" addNodeInModal(newName); toggleDropdown($event, true);">
                    Add new node
                </button>
            </div>
        </div>
    </span>
        <span class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            <button class="btn btn-default">
                <i class="fa fa-file-text-o menu-btn"></i>
                Leaf</button>
        </a>
         <div class="dropdown-menu box padder-b-m w-lg">
             <div class="wrapper-xs">
                 <span ng-click="toggleDropdown($event)">
                     <div class="font-bold text-md title">Add Leaf</div>
                     <hr class="m-b-sm m-t-sm hr-color">
                     <span style="width:250px; float: left">
                         <input class="text-base" file-model="newLeaf" type="file" id="leafName" />
                     </span>
                     <button class="upbtn btn btn-info no-padder " ng-click="addLeafInModal(newLeaf)">upload</button>
                 </span>
             </div>
         </div>
    </span>
    </div>
</div>

<div class="modal-footer font-middle" style="margin-top: 100%; margin-right: 99%;">
</div>






