<div class="modal-body" style="margin-top : -15px;">   
    <h2>Add Root Node</h2>
</div>
<div class="modal-footer" style="margin-top : -10px;opacity:100"> <!-- 이건 줄 -->
    <div id="field" style="margin-left: auto; margin-right : auto">
        <input ng-model="nodename" type="text" class="form-control rounded" placeholder="노드 이름">
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Add</button>
</div>
