<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Projects</h1>
</div>
<div class="wrapper-md" ng-controller="RootListCtrl">
    <div ui-scroll-viewport class="row" style="height:400px;overflow-y: auto;">
        <div ng-repeat="root in roots track by $index" class="col-sm-3">
            <div class="panel wrapper-md" ng-click="selectRoot('{{root.node.nodeidx}}', '{{$index}}')">
                <div>{{ root.node.name }}</div>
                <div align="right">{{ root.node.due_date }}</div>
                <div align="right">
                    <span ng-repeat="user in root.user">
                        <img ng-src="{{user.profile_url}}" width="30px" height="30px" display="inline"/>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-controller="ModalCtrl">
            <div class="panel wrapper-md" ng-click="open($event)">
                <script type="text/ng-template" id="myModalContent.html">
                  <div ng-include="'tpl/modal.html'"></div>
                </script>
                <H1 align="center"> + </H1>
            </div>
        </div>
    </div>
</div>

<div ng-controller="ModalCtrl" class="panel b-a">
    <script type="text/ng-template" id="myModalContent.html">
        <div ng-include="'tpl/modal.html'"></div>
    </script>
    <div class="panel-heading b-b b-light">Modal</div>
    <div class="panel-body">
        <button class="btn btn-success" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    </div>
</div>
