<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Projects</h1>
</div>
<div class="wrapper-md" ng-controller="RootListCtrl">
  <div ui-scroll-viewport class="row" style="height:400px;overflow-y: auto;" >
    <div ng-repeat="root in roots" class="col-sm-3">
      <div class="panel wrapper-md">
        <div>{{ root.name }}</div>
        <div>{{ root.due_date }}</div>
        <span  ng-repeat="user in root.assignedUsers"> <!-- 프로젝트 페이지 - css 확정하고 정리하기!! -->
          <img ng-src="{{user.pic}}" width="30px" height="30px"  display="inline"/>
        </span>
      </div>
    </div>
    </div>
  </div>
</div>