<style>
    .mindmap_node
    {
        display:inline-block;
        position:absolute;
        color:white;
        background-color: #49a9ff;
    }

    .mindmap_label
    {
        display:inline-block;
        margin-left:2px;
        margin-top:2px;
        width:20px;
        height:7px;
        border-radius:2px;
    }
</style>

<script>
    var body        = d3.select("body");
    var controller  = body.select("div[ng-controller='MindmapCtrl']");
    var canvas      = controller.select("svg");

    for(var i = 0; i < node_link.length; ++i)
    {
        var link = node_link[i];

        var diagonal = d3.svg.diagonal()
                //.source({x:link.src_y + screen.height/ 2 - node_scene_graph_form.height*2, y:link.src_x + screen.width/2 - node_scene_graph_form.half_width})
                //.target({x:link.dst_y + screen.height/ 2 - node_scene_graph_form.height*2, y:link.dst_x + screen.width/2 - node_scene_graph_form.half_width})
                .source({x:link.src_y + screen.height/ 2 - 50, y:link.src_x + screen.width/2})
                .target({x:link.dst_y + screen.height/ 2 - 50, y:link.dst_x + screen.width/2})
                .projection(function(d) { return [d.y, d.x]; });

        canvas.append("path")
                .attr("class", link)
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("d", diagonal);
    }

    for(var i = 0; i < nodes.length; ++i)
    {
        var node = nodes[i];

        //var node_div = controller.select("#"+node.idx);
        //var node_div = controller.select("div[idx='1']");
        var node_div = controller.append('div');
        //var node_div = d3.select('div').select("#"+node.idx);

        node_div.attr("class", "mindmap_node")
                .style("left", screen.width / 2 - node_scene_graph_form.half_width  + node.x + "px")
                .style("top",  screen.height/ 2 - node_scene_graph_form.half_height + node.y + "px")
                .style("width", node_scene_graph_form.width + "px")
                .style("height", node_scene_graph_form.height + "px")
                .style("border-radius", node_scene_graph_form.height / 10 + "px");
        
        var node_div_label_container = node_div.append('div').append('ul').attr("class", "nav navbar-nav");

        for(var j = 0; j < node.labels.length; ++j)
        {
            var label = node.labels[j];

            node_div_label_container.append('li')
                    .attr("class", "mindmap_label")
                    .style("background-color", label_palette[label].color);
        }

        node_div.append('div')
                .text(node.name);

        var node_div_assigned_container = node_div.append('div').style("float", "right");

        for(var j = 0; j < node.assigned_users.length; ++j)
        {
            var label = node.assigned_users[j];

            node_div_assigned_container.append('img')
                    .attr('ng-src', 'img/a1.jpg')
                    .attr('width', "10px")
                    .attr("height", "10px")
                    .attr("display", "inline")
        }
    }

</script>

<div ng-controller="MindmapCtrl">
    <svg width="100%" height="2000">
    </svg>
<!--
    <div ng-repeat="node in nodes" class="mindmap_node" id="{{node.idx}}">
        <div>
            <ul class="nav navbar-nav">
                <li ng-repeat="label in node.labels" class="mindmap_label" style="background-color:{{label_palette[label].color}}"></li>
            </ul>
            <br>
        </div>
        <div align="center">{{node.name}}</div>
    </div>
-->
</div>