<style>
    .node
    {
        display:inline-block;
        position:absolute;
        background-color: #49a9ff;
    }

    .label
    {
        display:inline-block;
        margin-left:3px;
        margin-top:3px;
        width:30px;
        height:10px;
        border-radius:2px;
    }
</style>

<script>
    var body        = d3.select("body");
    var canvas      = body.select("svg");

    for(var i = 0; i < node_link.length; ++i)
    {
        var link = node_link[i];

        var diagonal = d3.svg.diagonal()
                /*
                .source({x:link.src_x + 860, y:link.src_y + 380})
                .target({x:link.dst_x + 860, y:link.dst_y + 380})
                */
                /*
                .source({x:link.src_y + screen.height/ 2 - node_scene_graph_form.height*2, y:link.src_x + screen.width/2 - node_scene_graph_form.half_width})
                .target({x:link.dst_y + screen.height/ 2 - node_scene_graph_form.height*2, y:link.dst_x + screen.width/2 - node_scene_graph_form.half_width})
                */

                .source({x:link.src_y + screen.height/ 2 - 120 - 60, y:link.src_x + screen.width/2})
                .target({x:link.dst_y + screen.height/ 2 - 120 - 60, y:link.dst_x + screen.width/2})

                .projection(function(d) { return [d.y, d.x]; });


        canvas.append("path")
                .attr("class", link)
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("d", diagonal);
    }

    var controller  = body.select("div[ng-controller='MindmapCtrl']");
    controller.selectAll('div')
            .data(nodes)
            .enter()
            .append('div')
            .attr("class", "node")
            .style("left", function(d){ return screen.width / 2 - node_scene_graph_form.half_width  + d.x + "px"; })
            .style("top",  function(d){ return screen.height/ 2 - node_scene_graph_form.half_height + d.y - 60 + "px"; })
            .style("width", node_scene_graph_form.width + "px")
            .style("height", node_scene_graph_form.height + "px")
            .style("border-radius", node_scene_graph_form.height / 10 + "px")

            /*
            .append("ul")
            .attr("class", "nav navbar-nav")
            .selectAll('li')
            .data(node.labels)
            .enter()
            .append("li")
            .attr("class", "label");
            */

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Mindmap</h1>
</div>

<div ng-controller="MindmapCtrl">

    <!--
          <div ng-repeat="node in nodes" class="node">
              <div>
                  <ul class="nav navbar-nav">
                      <li ng-repeat="label in node.labels" style="display:inline-block; margin-left:3px; margin-top:3px; width:30px; height:10px; border-radius:2px; background-color:{{label_palette[label].color}}"></li>
                  </ul>
                  <br>
              </div>
              <div>{{node.name}}</div>
              <div>{{node.desc}}</div>
          </div>
      -->

  <svg width="100%" height="2000">

  </svg>


</div>