      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}"> </div>
      <!-- / navbar header -->
      <div class="collapse pos-abt navbar-collapse bg-z-index">
        <a ui-sref="app.list" class="navbar-brand">
          <i class="fa fa-lg fa-cloud"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a>
      </div>

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" >

        <!-- maps memu -->
        <ul class="nav navbar-nav hidden-sm" ng-controller="NavBarCtrl">
          <li ui-sref-active="active">
            <a ui-sref="app.list">
              <i class="glyphicon glyphicon-th"></i>
              <span class="font-bold"  translate="header.navbar.PROJECTS">Projects</span>
            </a>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="app.mindmap" ng-show=state>
              <i class="fa fa-lg fa-share-alt-square"></i>
              <span class="font-bold"  translate="header.navbar.MINDMAP">MindMap</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.calendar" ng-show=state>
              <i class="glyphicon glyphicon-calendar icon"></i>
              <span class="font-bold" translate="header.navbar.CALENDAR">Calendar</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.table" ng-show=state>
              <i class="glyphicon glyphicon-list"></i>
              <span class="font-bold"  translate="header.navbar.LIST">List</span>
            </a>
          </li>
        </ul>
        <!-- / maps menu -->

        <!-- na right -->
        <ul class="nav navbar-nav navbar-right" ng-controller="DropdownCtrl" >

          <li class="dropdown" dropdown ng-controller="UserCtrl">
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img style="width:40px; height: 40px" src="{{ profile_url }}" alt="...">
              </span><span class="hidden-sm hidden-md">{{ username }}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w" ng-click="toggleDropdown($event)">
              <div class="panel b-a">
                <div class="panel-heading bg-info dk wrapper-lg"></div>
                <div class="text-center m-b clearfix m-b">
                  <div class="thumb-lg avatar m-t-n-xxl">
                    <div class="img-hover-bgcolor" ng-click="updatePicture($event)">
                        <img src="{{ profile_url }}" alt="..." class="dropdown-img b b-3x b-white">
                        <input type=file style='display: none;' id="fileBtn">
                    </div>
                      <div ng-show=!(isEditmode)>
                        <span style="font-weight: 400; font-size:18px">{{ username }}</span>
                      </div>
                    <p></p>
                    <div class="m-b-sm" style="font-size:12px; margin-bottom:14px;">{{ useremail }}</div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button ng-click="logout();" class="btn m-b-xs w-xs btn-dark">
                  Logout
                </button>
              </div>

            </div>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->

      <!--
      <button type="submit" class="btn btn-primary btn-sm-input" ng-click="updateName('{{ newName }}')">
                              <span class="icon-sm-input-check"><i class="fa fa-check"></i></span>
                          </button>
                          <button type="button" class="btn btn-default btn-sm-input" ng-click="clickCancelBtn()">
                              <span class="icon-sm-input-time"><i class="fa fa-times"></i></span>
                          </button>
       -->



